//
// Name:            Fonts
//
// Description:     Contains all fonts
//
// ========================================================================
// Component: Fonts
// ========================================================================

// Poppins
@font-face {
    font-family: "Poppins Medium";
    src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
        url("../fonts/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins SemiBold";
    src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
        url("../fonts/Poppins-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins Bold";
    src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
        url("../fonts/Poppins-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// Open Sans
@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/OpenSans-Light.woff2") format("woff2"),
        url("../fonts/OpenSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../fonts/OpenSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiBold";
    src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
        url("../fonts/OpenSans-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
        url("../fonts/OpenSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans ExtraBold";
    src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"),
        url("../fonts/OpenSans-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

// font mixins

@mixin font-poppins-medium {
    font-family: "Poppins Medium", sans-serif;
    font-weight: 500;
}

@mixin font-poppins-semibold {
    font-family: "Poppins SemiBold", sans-serif;
    font-weight: 600;
}

@mixin font-poppins-bold {
    font-family: "Poppins Bold", sans-serif;
    font-weight: 700;
}

@mixin font-opensans-light {
    font-family: "Open Sans Light", sans-serif;
    font-weight: 300;
}

@mixin font-opensans-regular {
    font-family: "Open Sans Regular", sans-serif;
    font-weight: 400;
}

@mixin font-opensans-semibold {
    font-family: "Open Sans SemiBold", sans-serif;
    font-weight: 600;
}

@mixin font-opensans-bold {
    font-family: "Open Sans Bold", sans-serif;
    font-weight: 700;
}

@mixin font-opensans-extrabold {
    font-family: "Open Sans ExtraBold", sans-serif;
    font-weight: 800;
}
