//
// Component:       Variables
// Description:     Defines all color and style related values as variables
//                  to allow easy customization for the most common cases.
//
// ========================================================================
// ========================================================================
// Component: Variables
// ========================================================================
// Colors
$white: #ffffff;
$black: #000000;
$light-gray: #f5f5f5;
$md-gray: #999999;
$dark-gray: #202224;

$gold: #b57a04;
$dark-gold: #9f6c02;
$overlay-gold: #915f05;

$maroon: #6f1830;
$dark-maroon: #560c20;

$teal: #09667c;

// Gradients
$transparent-to-maroon: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 7%,
    rgba(0, 0, 0, 0.3) 19%,
    rgba(0, 0, 0, 0.6) 34%,
    #560c20 70%
);

$dark-to-transparent: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 17%,
    rgba(0, 0, 0, 0.3) 33%,
    rgba(0, 0, 0, 0.3) 80%
);

$dark-transparent: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 7%,
    rgba(0, 0, 0, 0.3) 67%,
    rgba(0, 0, 0, 0.6) 96%
);

$dark-to-transparent-tablet: linear-gradient(270deg, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.3) 50%);

$dark-to-transparent-mobile: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 77%, rgba(0, 0, 0, 0) 82%);

$subtle-black: linear-gradient(269deg, rgba(0, 0, 0, 0.2) 14%, rgba(0, 0, 0, 0.45) 69%);

$subtle-half-black: linear-gradient(0deg, rgba(0, 0, 0, 0) 47%, rgba(0, 0, 0, 0.25) 57%);

$gray-to-transparent-mobile: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #f5f5f5 84%);

$gray-to-transparent-tablet: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #f5f5f5 28%);

$white-to-transparent-mobile: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #ffffff 93%);

$white-to-transparent-tablet: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #ffffff 28%);

// Shadows
$drop-shadow: 0 0 20px rgba(22, 18, 18, 0.2);
$title-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
$text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
$maroon-text-shadow: 0 2px 30px rgba(86, 12, 32, 0.9);
